<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <servlet>
  <servlet-name>ArmandoCouto</servlet-name>
  <servlet-class>br.com.couto.servlet.ArmandoCoutoServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet>
  <servlet-name>CreateNewTodo</servlet-name>
  <servlet-class>br.com.couto.servlet.CreateTodoServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>RemoveTodo</servlet-name>
  <servlet-class>br.com.couto.servlet.RemoveTodoServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>TodoApplication</servlet-name>
  <servlet-class>br.com.couto.servlet.TodoApplicationServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>ArmandoCouto</servlet-name>
  <url-pattern>/armandocouto</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CreateNewTodo</servlet-name>
  <url-pattern>/new</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RemoveTodo</servlet-name>
  <url-pattern>/done</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>TodoApplication</servlet-name>
  <url-pattern>/paginas/todo</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
 </welcome-file-list>
</web-app>
